@model IEnumerable<ProductViewModel>

@{
	ViewData["Title"] = "Menu";

	var userId = ViewBag.UserId;
	OrderViewModel[] lastOrders = ViewBag.LastOrders;
}

<section id="menu" class="menu section-bg">
	<div class="container aos-init aos-animate" data-aos="fade-up">

		<div id="message-container"></div>

		<div class="section-title mt-5 pt-5">
			<h2>Menu</h2>
			<p>Check Our Tasty Menu</p>
		</div>

		<div class="row aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
			<div class="col-lg-12 d-flex justify-content-center">
				<ul id="menu-flters">
					<li>
						<a asp-area="" asp-controller="Menu" asp-action="Index">Show All</a>
					</li>

					@foreach (var category in ViewBag.Categories)
					{
						<li>
							<a asp-area="" asp-controller="Menu" asp-action="Index" asp-route-category="@category.Name">@category.Name</a>
						</li>
					}
				</ul>
			</div>
		</div>

		@if (userId != null)
		{
			@if (lastOrders.Count() > 0)
			{
				<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner d-flex">
						@{
							bool isFirst = true;
						}
						@foreach (var order in lastOrders)
						{
							<div class="carousel-item @(isFirst ? "active" : "")">

								@if (isFirst)
								{
									isFirst = false;
								}

								<div class="d-flex justify-content-center">
									<div class="text-center">
										<h5>Your last orders.</h5>
										<p>Order Date: @order.OrderDate.ToString("g")</p>
										<div class="order-items-container carosael-style">
											@foreach (var item in order.OredrItemsViewModel)
											{
												<form method="post" class="col-lg-12 menu-item">
													@Html.AntiForgeryToken()
													<img src="@Url.Content(item.ImagePath.StartsWith("https") ? item.ImagePath : $"~/{item.ImagePath}")" class="menu-img" alt="">
													<div class="menu-content">
														<span>@(string.IsNullOrEmpty(item.ProductName) ? "Sorry, this item is no longer available." : item.ProductName)</span>
														<span>$@item.Price</span>
													</div>
													<div class="menu-ingredients">
														@item.ProductDescription
													</div>
													@if (!string.IsNullOrEmpty(item.ProductName))
													{
														<a href="#" class="add-to-cart offset-sm-8" data-id="@item.ProductId">Order Again</a>
													}
												</form>
											}
										</div>
									</div>
								</div>
							</div>
						}
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			}
		}

		<div class="row menu-container aos-init aos-animate">
			@foreach (var item in Model)
			{
				<form method="post" class="col-lg-6 menu-item">
					@Html.AntiForgeryToken()
					<img src="@Url.Content(item.Image.StartsWith("https") ? item.Image : $"~/{item.Image}")" class="menu-img" alt="">
					<div class="menu-content">
						<a href="#" class="product-image" data-bs-toggle="modal" data-bs-target="#imageModal" data-id="@item.Id" data-img-url="@Url.Content(item.Image.StartsWith("https") ? item.Image : $"~/{item.Image}")">@item.Name</a>
						<span>$@item.Price</span>
					</div>
					<div class="menu-ingredients">
						@item.Description
					</div>
					<a href="#" class="add-to-cart offset-sm-8" data-id="@item.Id">Add to Basket</a>
				</form>
			}
		</div>

		<partial name="_ImageModalPartial" />
	</div>
</section>

@section Scripts {
	<script>
		$(document).ready(function () {
			$('.product-image').click(function (e) {
				e.preventDefault();
				var imageUrl = $(this).data('img-url');
				var modalBody = $('#imageModal .modal-body');
				modalBody.empty();
				modalBody.append(`<img src="${imageUrl}" class="img-fluid">`);
				$('#imageModal').modal('show');
			});
		});
	</script>
	<script src="~/js/menu.js"></script>
}