@model IEnumerable<ShoppingCartViewModel>

@{
	ViewData["Title"] = "Shopping Cart";

	var totalItems = Model.Sum(p => p.Quantity);
	var totalPrice = 0m;
}

<div class="card align-items-center justify-content-center mt-5 pt-5">
	@if (TempData["SuccessRemove"] != null)
	{
		<div id="successResult" class="customAlertMessage alert alert-success text-center mt-5">@TempData["SuccessRemove"]</div>
	}
	@if (TempData["SuccessAdd"] != null)
	{
		<div id="successResult" class="customAlertMessage alert alert-success text-center mt-5">@TempData["SuccessAdd"]</div>
	}
	<form asp-controller="ShoppingCart" asp-action="Checkout" method="post">
		@Html.AntiForgeryToken()

		<div class="row mt-5 pt-5">
			<div class="col-md-6 cart">
				<div class="title">
					<div class="row">
						<div class="col"><h4><b>Shopping Cart</b></h4></div>
					</div>
				</div>
				@foreach (var item in Model)
				{
					var itemTotalPrice = item.Quantity * item.Price;
					totalPrice += itemTotalPrice;

					<div class="row border-top border-bottom mb-2">
						<div class="row main align-items-center">
							<div class="col-2">
								<img class="img-fluid" src="~/@item.Image">
							</div>
							<div class="col">
								<div class="row">@item.ProductName</div>
							</div>
							<div class="col">
								<a asp-controller="ShoppingCart" asp-action="RemoveFromCart" asp-route-id="@item.ProductId">-</a>
								<a class="border m-1">@item.Quantity</a>
								<a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@item.ProductId">+</a>
							</div>
							<div class="col">&euro; @itemTotalPrice</div>
						</div>
					</div>
				}

				@for (int i = 0; i < Model.Count(); i++)
				{
					<input type="hidden" name="Items[@i].ProductId" value="@Model.ElementAt(i).ProductId" />
					<input type="hidden" name="Items[@i].ProductName" value="@Model.ElementAt(i).ProductName" />
					<input type="hidden" name="Items[@i].Quantity" value="@Model.ElementAt(i).Quantity" />
					<input type="hidden" name="Items[@i].Price" value="@Model.ElementAt(i).Price" />
					<input type="hidden" name="Items[@i].Image" value="@Model.ElementAt(i).Image" />
				}

				<div class="back-to-shop">
					<a asp-area="" asp-controller="Menu" asp-action="Index">&leftarrow;</a>
					<span class="text-muted">Back to shop</span>
				</div>
			</div>
			<div class="col-md-4 summary ms-5">
				<div><h5><b>Summary</b></h5></div>
				<hr>
				<div class="row">
					<div class="col">ITEMS  @totalItems</div>
					<div class="col text-right">&euro; @totalPrice</div>
				</div>

				<p>SHIPPING</p>
				<select id="deliveryOptions">
					<option class="text-muted" value="5" selected>Standard-Delivery- &euro;5.00</option>
					<option class="text-muted" value="7">Express-Delivery- &euro;7.00</option>
				</select>
				<p>GIVE CODE</p>
				<input id="code" placeholder="Enter your code">

				<div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
					<div class="col">TOTAL PRICE</div>
					<div class="col text-right" id="totalPrice">&euro; @totalPrice</div>
				</div>
				<input type="hidden" name="totalPrice" value="@totalPrice" />
				<input type="hidden" name="totalItems" value="@totalItems" />
				<button type="submit">CHECKOUT</button>
			</div>
		</div>
	</form>
</div>

@section Scripts {
	<script>
		let totalPrice = @Model.Sum(p => p.Price * p.Quantity);
	</script>

	<script src="~/js/shoppingCart.js"></script>
}
