<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">

@model ReservationFormModel

@{
	ViewData["Title"] = "Edit a reservation";

	var eventName = Model.EventName;
	var date = DateTime.Parse(Model.Date);
}

<section id="book-a-table" class="book-a-table mt-5">
	<div class="container aos-init aos-animate mt-5" data-aos="fade-up">
		<div class="section-title">
			<h2>Reservation</h2>
			<p>Book a Table</p>
		</div>

		@if (TempData["Error"] != null)
		{
			<div id="message" class="customAlertMessage alert alert-danger text-center mt-5">@TempData["Error"]</div>
		}

		@if (eventName != null)
		{
			<div class="d-flex justify-content-center mb-4">
				<h2>@eventName</h2>
			</div>
		}

		<form method="post" class="php-email-form aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
			<div class="row">
				<div class="col-lg-4 col-md-6 form-group">
					<input type="text" asp-for="FirstName" class="form-control" id="name" placeholder="Your First name" data-rule="minlen:4" value="@Model.FirstName" />
					<span asp-validation-for="FirstName"></span>
				</div>
				<div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
					<input type="text" class="form-control" asp-for="LastName" placeholder="Your Last name" value="@Model.LastName" />
					<span asp-validation-for="LastName"></span>
				</div>
				<div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
					<input type="text" class="form-control" asp-for="PhoneNumber" id="phone" placeholder="Your Phone" data-rule="minlen:4" value="@Model.PhoneNumber">
					<span asp-validation-for="PhoneNumber"></span>
				</div>
				<div class="col-lg-4 col-md-6 form-group mt-3 tableColor">
					@if (eventName != null)
					{
						{
							date = DateTime.Parse(Model.Date);
						}
						<input readonly type="datetime-local" asp-for="@date" class="form-control">
					}
					else
					{
						<input type="text" id="datetimepicker" asp-for="@Model.Date" class="form-control">
					}
					<span asp-validation-for="@Model.Date"></span>
				</div>
				<div class="col-lg-4 col-md-6 form-group mt-3">
					<input type="number" class="form-control" asp-for="PeopleCount" id="people" min="1" step="1" placeholder="Number of people" value="@Model.PeopleCount">
					<span asp-validation-for="PeopleCount"></span>
				</div>
				<div class="col-lg-4 col-md-6 form-group mt-3 ">
					<input readonly type="email" class="form-control" asp-for="Email" id="email" placeholder="Your Email" data-rule="email" value="@Model.Email" />
					<span asp-validation-for="Email"></span>
				</div>
			</div>
			<div class="form-group mt-3">
				<textarea class="form-control" asp-for="Description" rows="5" placeholder="Message"></textarea>
				<span asp-validation-for="Description"></span>
			</div>
			<div class="text-center">
				<input type="submit" value="Save Changes" class="btn btn-info" />
			</div>
		</form>

	</div>
</section>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>

	<script src="~/js/show-notification.js"></script>
	<script src="~/js/reservation-datetimepicker.js"></script>

}
