@model IEnumerable<ReservationViewModel>

@{
    ViewData["Title"] = "Menage your reservation";
}

<section id="events" class="events mt-5">
    <div class="container aos-init aos-animate mt-5" data-aos="fade-up">
        <div class="section-title">
            <h2>Events</h2>
            <p>Menage Your Reservations in our Restaurant</p>
        </div>
        <div class="why-us" id="why-us">
            <div class="container aos-init aos-animate" data-aos="fade-up">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 mt-4 mt-lg-4">
                            <div class="box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                                <span>@item.Date</span>
                                @if (item.EventName != null)
                                {
                                    <h4>@item.EventName</h4>
                                }
                                <p>@item.Description</p>
                                <div class="d-flex justify-content-end mt-2">
                                    <a asp-area="" asp-controller="Reservation" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-light me-2">Edit</a>
                                    <a asp-area="" asp-controller="Reservation" asp-action="Cancel" asp-route-id="@item.Id" class="btn btn-sm btn-light" onclick="return cancelReservation('@item.Date')">Cancel</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
	<script>
        function cancelReservation(date) {
			return confirm('Are you sure you want to cancel the reservation for ' + date + '?');
		}
    </script>
}
